<div class="container mt-5">
  <div style="text-align: center">
    <h1 aria-label="Find Excess Manufacturing In Your Local Area">
      Find Excess Manufacturing In Your Local Area
    </h1>
    <p
      class="lead"
      aria-label="Join today to buy and sell excess manufacturing. 
      All you need to do is sign up!"
    >
      Join today to buy and sell excess manufacturing. <br />
      All you need to do is sign up!
    </p>
    <div class="text-center">
      <button
        (click)="clickRegister()"
        class="btn btn-primary btn-lg mr-2"
        aria-label="Register"
      >
        Register
      </button>
      <button
        (click)="clickLogin()"
        class="btn btn-info btn-lg"
        aria-label="Login"
      >
        Login
      </button>
    </div>
  </div>
</div>
